<h1>About</h1>

<p class="lead">The first paragraph contains slightly larger text and stands out a bit more prominently than the rest.</p>

<p>The second and following paragraphs contains normal text which is the default size.</p>

<h2>First Section</h2>

<p>Here is another paragraph following the first section</p>
