<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          {{#link-to "index" class="nav-link"}}Home{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "about" class="nav-link"}}About{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "contact" class="nav-link"}}Contact{{/link-to}}
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">{{fa-icon "university"}} MyMuzeeum</h3>
  </div>

  {{outlet}}

  <footer class="footer">
    <p>&copy; Gishtech 2017</p>
  </footer>

</div>
